<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <h2 class="form-header">Edit Profile</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs form-bottom">
            <%= f.input :first_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "first name", class: 'input-line' }%>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "last name", class: 'input-line' }%>
            <%= f.input :nickname,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "nickname", class: 'input-line' }%>
            <%= f.input :age,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "age", class: 'input-line' }%>
            <%= f.input :address,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "address", class: 'input-line' }%>
            <%= f.input :about_me,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "about me", class: 'input-line' }%>
            <%= f.input :email, required: true, autofocus: true,
                        input_html: { class: 'input-line' } %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-password", class: 'input-line'} %>
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password", class: 'input-line' } %>
            <%= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password", class:"input-line" }
                        %>
            <%= f.input :photo, as: :file, input_html: {class: "d-none"}, label_html: {class: "upload-photo"}, label: "Upload new profile pic" %>
            <br>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update", class:"btn-sign-up" %>
          </div>
        <% end %>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), class:"login", data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back, class:"back-link" %>
        <div class="bottom-space"></div>
    </div>
  </div>
</div>
