<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h2 class="form-header">Sign up</h2>
      <p class="form-intro">Yes! You're about to take the first step to finally getting your shit done. We are very proud of you today.</p>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs form-bottom">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: {class: 'input-line' },
                      class:"background-red"%>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { class: 'input-line' }%>
          <%= f.input :nickname,
                      required: true,
                      autofocus: true,
                      input_html: { class: 'input-line' }%>
          <%= f.input :age,
                      required: true,
                      autofocus: true,
                      input_html: { class: 'input-line' }%>
          <%= f.input :address,
                      required: true,
                      autofocus: true,
                      input_html: { class: 'input-line' }%>
          <%= f.input :about_me,
                      required: true,
                      autofocus: true,
                      input_html: { class: 'input-line' }%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: 'input-line' }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { class: 'input-line' } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { class: 'input-line' } %>
          <%= f.input :photo, as: :file, input_html: {class: "d-none"}, label_html: {class: "upload-photo"}, label: "Upload a profile pic" %>
          <br>
        </div>

        <div class="form-actions button-center">
          <%= f.button :submit, "Sign up", class:"btn-sign-up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

      <div class="bottom-space"></div>
    </div>
  </div>
</div>
