<%= image_tag "fireworks.png", class:"contract-icon" %>
<%= image_tag "party.png", class:"contract-icon" %>
<%= image_tag "fireworks.png", class:"contract-icon" %>
<%= image_tag "party.png", class:"contract-icon" %>
<%= image_tag "fireworks.png", class:"contract-icon" %>
<%= image_tag "party.png", class:"contract-icon" %>
<%= image_tag "fireworks.png", class:"contract-icon" %>
<%= image_tag "party.png", class:"contract-icon" %>
<%= image_tag "fireworks.png", class:"contract-icon" %>
<%= image_tag "party.png", class:"contract-icon" %>
<p class="light-20">Wooooo-hooooooooooooo! Congratulations, you two super humans! You have both fullfilled
your contract and finished your missions. We are super proud of you. We hope you enjoyed the process and will
start many more missions to finally get your shit together for good.</p>
<%= image_tag "fireworks.png", class:"contract-icon" %>
<%= image_tag "party.png", class:"contract-icon" %>
<%= image_tag "fireworks.png", class:"contract-icon" %>
<%= image_tag "party.png", class:"contract-icon" %>
<%= image_tag "fireworks.png", class:"contract-icon" %>
<%= image_tag "party.png", class:"contract-icon" %>
<%= image_tag "fireworks.png", class:"contract-icon" %>
<%= image_tag "party.png", class:"contract-icon" %>
<%= image_tag "fireworks.png", class:"contract-icon" %>
<%= image_tag "party.png", class:"contract-icon" %>
