<div class="container">
  <div class="space-mt-20"></div>
  <div class="breadcrumbs-box">
    <%= link_to root_path, class:"crumb" do %>
      <i class="fas fa-home"></i>
    <% end %>
    &nbsp;/&nbsp; <%= link_to "Dashboard", dashboard_path, class:"crumb" %>
    &nbsp;/&nbsp; <%= link_to "My Mission", mission_path(id: current_user.missions.last.id), class:"crumb" %>
    <span>&nbsp;/&nbsp; Contract</span>
  </div>
  <div class="space-mt-40"></div>
  <% if @asker_mission.finished? == true && @receiver_mission.finished? == true %>
    <%= render "finished" %>
  <% end %>

  <div class="contract-box">
    <div class="contract-header-box">
      <%= image_tag "skull.png", class:"contract-skull" %>
      <p class="contract-brand-name">EVERYBODY HATES THIS</p>
    </div>
    <h1 class="center contract-heading">Contract between <%= @asker_mission.user.first_name %> and <%= @receiver_mission.user.first_name %></h1>
    <div class="contract-grid">
      <div class="user-contract">
        <div class="image-box">
          <% if @asker_mission.user.photo.attached? %>
            <%= cl_image_tag @asker_mission.user.photo.key, class:"avatar-large" %>
          <% else %>
            <%= image_tag "user_3.png", class:"avatar-large" %>
          <% end %>
        </div>
        <div class="contract-mission-box">
          <div class="contract-timeframe-box">
            <p class="contract-timeframe"> <i class="far fa-clock"></i> <%= @asker_mission.timeframe.humanize.capitalize %> </p>
          </div>
          <h3 class="contract-heading-mission"> <%= @asker_mission.title %></h3>
          <p> <%= @asker_mission.description %> </p>
          <div>
            <% if @asker_mission.milestones.any? %>
              <h5>Milestones</h5>
              <% @asker_mission.milestones.each do |milestone|  %>
                <div class="milestone-contract">
                  <% if milestone.in_progress? %>
                    <i class="far fa-square"></i>
                  <% else %>
                    <i class="far fa-check-square"></i>
                  <% end %>
                  <%= milestone.description %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="space-mt-20"></div>
          <% if @asker_mission.finished? == true %>
            <div>
              <p><span class="pink"><i class="fas fa-check"></i></span> <%= @asker_mission.user.first_name %> has finished their mission</p>
            </div>
          <% end %>
        </div>
        <div class="contract-promise">
          <p class="light-20">I, <span class="em-text"><%= @asker_mission.user.first_name %> <%= @asker_mission.user.last_name %></span>, hereby promise to accomplish my mission
          - milestone by milestone.
          I also promise to help my buddy <%= @receiver_mission.user.first_name %> <%= @receiver_mission.user.last_name %>
          to keep on track with their mission.</p>
        </div>
        <div class="contract-signed">
          <span class="pink"><i class="fas fa-check"></i></span> <%= @asker_mission.user.first_name %> has signed this contract</div>
          <div class="space-mt-20"></div>
        </div>
      <div class="buddy-contract">
         <div class="image-box">
          <% if @receiver_mission.user.photo.attached? %>
            <%= cl_image_tag @receiver_mission.user.photo.key, class:"avatar-large" %>
          <% else %>
            <%= image_tag "user_3.png", class:"avatar-large" %>
          <% end %>
        </div>
        <div class="contract-mission-box">
          <div class="contract-timeframe-box">
            <p class="contract-timeframe"> <i class="far fa-clock"></i> <%= @receiver_mission.timeframe.humanize.capitalize %> </p>
          </div>
          <h3 class="contract-heading-mission"> <%= @receiver_mission.title %> </h3>
          <p> <%= @receiver_mission.description %> </p>
           <% if @receiver_mission.milestones.any? %>
              <h5>Milestones</h4>
              <% @receiver_mission.milestones.each do |milestone|  %>
                <div class="milestone-contract">
                  <% if milestone.in_progress? %>
                    <i class="far fa-square"></i>
                  <% else %>
                    <i class="far fa-check-square"></i>
                  <% end %>
                  <%= milestone.description %>
                </div>
              <% end %>
            <% end %>
          <div class="space-mt-20"></div>
          <% if @receiver_mission.finished? == true %>
            <div>
              <p><span class="pink"><i class="fas fa-check"></i></span> <%= @receiver_mission.user.first_name %> has finished their mission</p>
            </div>
          <% end %>
        </div>
        <div class="contract-promise">
          <p class="light-20">I, <span class="em-text"><%= @receiver_mission.user.first_name %> <%= @receiver_mission.user.last_name %></span>, hereby promise to accomplish my mission
          - milestone by milestone.
          I also promise to help my buddy <%= @asker_mission.user.first_name %> <%= @asker_mission.user.last_name %>
          to keep on track with their mission.</p>
        </div>
        <div class="contract-signed">
          <span class="pink"><i class="fas fa-check"></i></span> <%= @receiver_mission.user.first_name %> has signed this contract</div>
          <div class="space-mt-20"></div>
        </div>
      </div>
    </div>
  </div>
</div>
