<div class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div>
        <%= link_to "Contact Us", contact_path, class: "footer-links" %>
        <%= link_to "Terms of Use", contact_path, class: "footer-links" %>
        <%= link_to "Privacy Policy", contact_path, class: "footer-links" %>
      </div>
      <div class="social-links">
        <%= link_to contact_path do %> <i class="fab fa-facebook"></i> <% end %>
        <%= link_to contact_path do %> <i class="fab fa-instagram"></i> <% end %>
        <%= link_to contact_path do %> <i class="fab fa-twitter"></i> <% end %>
        <%= link_to contact_path do %> <i class="fab fa-youtube"></i> <% end %>
      </div>
    </div>
  </div>
</div>
