<%= simple_form_for(@mission) do |f| %>
  <div class="form-inputs">
    <%= f.input :category,
                :label => "Please choose the category that best describes your mission. If it doesn't fit any, there's always the miscellaneous section",
                input_html: { class: 'input-line' } %>
    <%= f.input :timeframe,
                :label => "How long will it probably take you to finish your mission?",
                input_html: { class: 'input-line' } %>
    <%= f.input :title,
                :label => "Now find a nice descriptive title for your mission",
                placeholder: 'e.g. Finally cleaning my smelly fridge',
                input_html: { class: 'input-line' } %>
    <%= f.input :description,
                placeholder: 'Describe your mission',
                :input_html => {:rows => 10},
                input_html: { class: 'input-line' } %>
    <%= f.input :prefered_buddy_age_start,
                :label => "How old should your buddy be at least?",
                placeholder: '12',
                :collection => 12..70,
                input_html: { class: 'input-line' } %>
    <%= f.input :prefered_buddy_age_end,
                :label => "And what is the maximum age they should have?",
                placeholder: '102',
                :collection => 18..102,
                input_html: { class: 'input-line' } %>
    <%= f.input :prefered_buddy_location,
                :label => "Your buddy should live...",
                input_html: { class: 'input-line' } %>
    <% if f.object.new_record? %>
      <div class="button-center space-mt-30">
        <%= f.submit "Create Mission", class:"btn-pink-variant" %>
      </div>
    <% else %>
      <div class="button-center space-mt-30">
        <%= f.submit "Update your Mission", class:"btn-pink-variant" %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="space-mt-30"></div>
