  <div class="space-mt-80"></div>
  <div class="mission-grid-container">
    <!--  Mission Card -->
    <div class="mission-card">
      <div class="time-category">
        <% if @mission.category == "body_and_mind" %>
          <div>
            <p class="category"> <i class="fas fa-spa"></i> Body & Mind </p>
          </div>
        <% elsif @mission.category == "miscellaneous" %>
          <div>
            <p class="category"> <i class="fas fa-random"></i> Miscellaneous </p>
          </div>
        <% elsif @mission.category == "administrative_tasks" %>
          <div>
            <p class="category"> <i class="far fa-folder-open"></i> Administrative Tasks </p>
          </div>
        <% elsif @mission.category == "relationships" %>
          <div>
            <p class="category"> <i class="far fa-heart"></i> Relationships </p>
          </div>
        <% elsif @mission.category == "work_life" %>
          <div>
            <p class="category"> <i class="fas fa-briefcase"></i> Work Life </p>
          </div>
        <% elsif @mission.category == "household" %>
          <div>
            <p class="category"> <i class="fas fa-house-damage"></i> Household </p>
          </div>
        <% end %>
        <div>
          <p class="timeframe"> <i class="far fa-clock"></i> <%= @mission.timeframe.humanize.capitalize %> </p>
        </div>
      </div>
      <h1> <%= @mission.title %> </h1>
      <p> <%= @mission.description %> </p>
      <h4> Buddy preferences </h4>
      <p>  My buddy should be between
          <%= @mission.prefered_buddy_age_start %> and <%= @mission.prefered_buddy_age_end %> years old
      <% if @mission.prefered_buddy_location.humanize.capitalize == "in_my_area"%>
         and should live in my area.</p>
      <% else %>
        and can live anywhere in the world.</p>
      <% end %>
    </div>
    <!--  End of Mission Card -->

    <!--  User Card -->
    <div class="mission-user-box">
      <div class="mission-user-info">
        <% if @mission.user.photo.attached? %>
          <%= cl_image_tag @mission.user.photo.key, class:"avatar-huge" %>
        <% else %>
          <%= image_tag "user_3.png", class:"avatar-huge" %>
        <% end %>
        <h4> <%= @mission.user.first_name%>, <%= @mission.user.age%> </h4>
        <p class="center"> <%= @mission.user.address %> </p>
      </div>
      <p class="mission-user-about"><%= @mission.user.about_me%></p>
    </div>
    <!--  End of User Card -->

    <!--  Box for Messaging and Contract -->
    <div class="contract-info-box">
      <!--  Contract Request -->
      <% if @mission != current_user.missions.last && current_user.missions.last.contract_signed? == false && current_user.missions.last.contract_id == nil %>
        <div>
          <%= link_to "Send request to sign contract", contracts_path(mission: @mission), method: :post, class:"btn-sign-up" %>
        </div>
      <% end %>

      <div class="space-mt-40"></div>

    <!--  Message -->
      <% if @mission != current_user.missions.last && current_user.missions.last.contract_signed? == false && current_user.missions.last.contract_id == nil %>
        <div>
          <%= link_to "Send Message", contracts_path(mission: @mission), method: :post, class:"btn-sign-up" %>
        </div>
      <% end %>

    </div>
    <!--  End of Box for Messaging and Contract -->

  </div>
