<div class="space-mt-40"></div>
<%= link_to 'Back', 'javascript:history.back()', class:"back-link" %>
<div class="space-mt-20"></div>
<h1 class="heading-40-pink-variant">Your Mission</h1>
<div class="space-mt-20"></div>
  <!-- UPDATE AND DELETE: need to find better place for this

  <% if policy(@mission).edit? %>
    <%= link_to "update", edit_mission_path(@mission) %>
  <% end %>
  <% if policy(@mission).destroy? %>
    <%= link_to "delete", mission_path(@mission), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

  -->
  <div class="mission-grid-container">
    <!--  Mission Card -->
    <div class="mission-card">
      <h2> <%= @mission.title %> </h2>
      <p> <%= @mission.description %> </p>
      <h5> Buddy preferences </h5>
      <p>  My buddy should be between
          <%= @mission.prefered_buddy_age_start %> and <%= @mission.prefered_buddy_age_end %> years old
      <% if @mission.prefered_buddy_location.humanize.capitalize == "in_my_area"%>
         and should live in my area.</p>
      <% else %>
        and can live anywhere in the world.</p>
      <% end %>
    </div>
      <!--  Milestones -->
      <div class="contract-info-box">
        <h4>Milestones <span class="pink"><i class="far fa-gem"></i></span></h4>
          <% if @mission.milestones.any? %>
            <% @mission.milestones.each do |milestone| %>
                <div class="milestone-box">
                  <p class="milestone">
                  <%= link_to milestone_path(milestone), method: :patch do %>
                    <% if milestone.status == "in_progress"%>
                      <i class="far fa-square"></i>
                    <% else %>
                      <i class="far fa-check-square"></i>
                    <% end %>
                  <% end %> <%= milestone.description %>
                  </p>
                </div>
            <% end %>
            <%= render 'milestones/new', mission: @mission %>
          <% else %>
            <p>You haven't defined any milestones for your mission yet.</p>
            <%= render 'milestones/new', mission: @mission %>
          <% end %>
      </div>
    <div>

    </div>

  <% if @mission.contract_id == nil %>
    <div class="contract-info-box-bordered">
      <h4>Mission Status</h4>
      <p>You have not found a buddy for your mission yet.</p>
      <%= link_to "Find buddy", missions_path, class:"contract-link-large" %>
    </div>
  <% else %>
    <div class="contract-info-box">
      <h4>Mission Status</h4>
      <% if @mission.contract_id %>
        <% if @contract.signed? %>
          <div>
            <p>You have done it! You have finally taken
              an important step to getting your things in order. This is truly amazing and
              we are very proud of you.</p>
              <p> You have signed a contract for this mission with your buddy
                <% if current_user.id == @contract_asker.id  %>
                  <%= @contract.receiver.first_name %>.
                <% else %>
                  <%= @contract.asker.first_name %>.
                <% end %>
              </p>
            <%= link_to "Show Contract", contract_path(@contract), class:"contract-link-large" %>
          </div>
        <% elsif current_user == @contract.asker %>
          <p>Well done! You have sent a contract request to <%= @contract_receiver.first_name %>
          for their mission <%= link_to @contract_receiver.missions.last.title, mission_path(id: @contract_receiver.missions.last.id), class:"contract-link" %>.
          Now you just have to wait patiently for them to reply. No worries, it will happen soon! </p>
        <% else %>
          <div>
            <p>Nice! You have a contract request from <%= @contract_asker.first_name %>
          for their mission <%= link_to @contract_asker.missions.last.title, mission_path(id: @contract_asker.missions.last.id), class:"contract-link" %>.
          What do you wanna do now? </p>
            <%= link_to "Accept", accept_contract_path(id: @contract, mission: @mission), method: :patch, class:"contract-link-large" %>
            <%= link_to "Decline", decline_contract_path(id: @contract, mission: @mission), method: :patch, class:"contract-link-large-yellow" %>
          </div>
        <% end %>
      <% else %>
        <p>You have not found a buddy for your mission yet.</p>
        <%= link_to "Find buddy", missions_path, class:"contract-link-large" %>
    <% end %>
    </div>
  <% end %>






  </div>
