<div class="space-mt-40"></div>
<%= link_to 'Back', 'javascript:history.back()', class:"back-link" %>
<div class="space-mt-20"></div>
<h1 class="heading-40-pink-variant">Your Mission</h1>
<div class="space-mt-20"></div>

<div class="mission-grid-container">
  <!--  Mission Card -->
  <div class="mission-card">
    <h2> <%= @mission.title %> </h2>
    <p> <%= @mission.description %> </p>
    <h5> Buddy preferences </h5>
    <p>  My buddy should be between
        <%= @mission.prefered_buddy_age_start %> and <%= @mission.prefered_buddy_age_end %> years old
    <% if @mission.prefered_buddy_location.humanize.capitalize == "in_my_area"%>
        and should live in my area.</p>
    <% else %>
      and can live anywhere in the world.</p>
    <% end %>
    <div>
      <% if policy(@mission).edit? %>
        <%= link_to "update", edit_mission_path(@mission), class:"update-mission-link" %>
      <% end %>
      <% if policy(@mission).destroy? %>
        <%= link_to "delete", mission_path(@mission), class:"delete-mission-link", method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>

  <% if @mission.finished? == false %>
    <!--  Milestones -->
    <div class="contract-info-box">
      <h4>Milestones <span class="pink"><i class="far fa-gem"></i></span></h4>
        <% if @mission.milestones.any? %>
          <p>The experience of our users has shown that the optimal number
        of milestones is 4 – so we encourage you to follow that path.
          <% @mission.milestones.each do |milestone| %>
              <div class="milestone-box">
                <div class="milestone">
                  <%= link_to milestone_path(milestone), method: :patch do %>
                    <% if milestone.in_progress?%>
                      <i class="far fa-square"></i>
                    <% else %>
                      <i class="far fa-check-square"></i>
                    <% end %>
                  <% end %> <%= milestone.description %>
                  <%= link_to milestone_path(milestone), method: :delete do %>
                      <i class="far fa-trash-alt small-icon"></i>
                  <% end %>
                </div>
              </div>
          <% end %>
          <%= render 'milestones/new', mission: @mission %>
        <% else %>
          <p>Milestones are an important part of your journey.
          The experience of our users has shown that the optimal number
        of milestones is 4 – so we encourage you to follow that path.
        You haven't defined any milestones for your mission yet.</p>
          <%= render 'milestones/new', mission: @mission %>
        <% end %>
    </div>
    <!--  Empty div for grid purposes -->
    <div> </div>
  <% end %>

  <% if @mission.contract_id == nil %>
    <div class="contract-info-box-bordered">
      <h4>Mission Status</h4>
        <% @declined_contracts.each do |contract| %>
          <% if contract.asker_id == current_user.id %>
            <p><%= link_to contract.receiver.first_name, mission_path(id: contract.receiver.missions.last.id), class:"pink"%>
            has declined signing the contract with you.</p>
          <% elsif contract.receiver_id == current_user.id %>
            <p>You have declined signing a contract with <%= contract.asker.first_name %> for their mission
            <%= link_to contract.asker.missions.last.title, mission_path(id: contract.asker.missions.last.id), class:"pink"%>.
            </p>
          <% end %>
        <% end %>
      <p>You have not found a buddy for your mission yet.</p>
      <%= link_to "Find buddy", missions_path, class:"contract-link-large" %>
    </div>
  <% else %>
    <div class="contract-info-box">
      <% if @mission.contract_id && @mission.finished? == false %>
        <% if @contract.signed? %>
          <p class="contract-sign">Contract signed </p>
        <% elsif current_user.id == @contract_asker.id %>
          <p class="contract-request-sent">Contract request sent </p>
        <% else %>
          <p class="contract-request-received">Contract request </p>
        <% end %>
      <% else %>
        <p class="contract-sign">Mission accomplished </p>
      <% end %>
      <h4>Mission Status</h4>
      <% if @mission.contract_id %>
        <% if @contract.signed? && @mission.finished? == false %>
          <div>
            <p>You have done it! This is truly amazing and
              we are very proud of you. You have signed a contract for this mission with your buddy
              <% if current_user.id == @contract_asker.id  %>
                <%= @contract.receiver.first_name %>.
              <% else %>
                <%= @contract.asker.first_name %>.
              <% end %>
            </p>
            <% if current_user.id == @contract_asker.id && @contract_receiver.missions.last.finished? == true %>
              <p>Beware: <%= @contract_receiver.first_name %> has finished their mission, yay to them! What about you?
            What is stopping you? Don't hesitate to ask your buddy for help or advice.</p>
            <% elsif current_user.id == @contract_receiver.id && @contract_asker.missions.last.finished? == true %>
               <p>Beware: <%= @contract_asker.first_name %> has finished their mission, yay to them! What about you?
            What is stopping you? Don't hesitate to ask your buddy for help or advice.</p>
            <% end %>
            <%= link_to "Show Contract", contract_path(@contract), class:"contract-link-large" %>
            <p></p>
            <p>Have you finished your mission? Yes? Go ahead, click the button already.</p>
            <div class="center-mt-30">
              <%= link_to "Mission Accomplished", finish_mission_path(@mission), method: :patch, class:"mission-accomplish" %></p>
            </div>
          </div>
        <% elsif current_user == @contract.asker && @mission.finished? == false %>
          <p>Well done! You have sent a contract request to <%= @contract_receiver.first_name %>
          for their mission <%= link_to @contract_receiver.missions.last.title, mission_path(id: @contract_receiver.missions.last.id), class:"contract-link" %>.
          Now you just have to wait patiently for them to reply. No worries, it will happen soon! </p>
        <% elsif current_user == @contract.receiver && @mission.finished? == false %>
          <div>
            <p>Nice! You have a contract request from <%= @contract_asker.first_name %>
          for their mission <%= link_to @contract_asker.missions.last.title, mission_path(id: @contract_asker.missions.last.id), class:"contract-link" %>.
          What do you wanna do now? </p>
            <%= link_to "Accept", accept_contract_path(id: @contract, mission: @mission), method: :patch, class:"contract-link-large" %>
            <%= link_to "Decline", decline_contract_path(id: @contract, mission: @mission), method: :patch, class:"contract-link-large-yellow" %>
          </div>
        <% else %>
          <p>Congratulations! You have finished your mission! Wooo-hooooooo! <br>
          <%= link_to "Show Contract", contract_path(@contract), class:"pink" %> </p>
          <p>Time to start your next mission right away...</p>
          <%= link_to "Start Mission", new_mission_path, class:"contract-link-large"  %>
        <% end %>
      <% else %>
        <p>You have not found a buddy for your mission yet.</p>
        <%= link_to "Find buddy", missions_path, class:"contract-link-large" %>
    <% end %>
    </div>
  <% end %>
<div class="space-mt-40"></div>

</div>
