<div class="container">
  <div class="space-mt-40"></div>
  <h1 class="heading-40-lightblue">Find your buddy</h1>
  <div class="buddy-intro">
    <p class="light-20">This is it. The final step.
                      All these people want to get their shit together - together!
                      You can start looking for your match, exchange message with
                      potential buddys and then, when you are sure, you can take
                      the leap of faith and sign a contract together!</p>
  </div>

  <div class="index-grid">
    <div>
      <% @missions.each do |mission| %>
        <% unless mission.contract_id || mission.user == current_user %>
        <div class="mission-grid">
          <div class="mission-box">
            <div class="time-category">
              <% if mission.category == "body_and_mind" %>
                <div>
                  <p class="category"> <i class="fas fa-spa"></i> Body & Mind </p>
                </div>
              <% elsif mission.category == "miscellaneous" %>
                <div>
                  <p class="category"> <i class="fas fa-random"></i> Miscellaneous </p>
                </div>
              <% elsif mission.category == "administrative_tasks" %>
                <div>
                  <p class="category"> <i class="far fa-folder-open"></i> Administrative Tasks </p>
                </div>
              <% elsif mission.category == "relationships" %>
                <div>
                  <p class="category"> <i class="far fa-heart"></i> Relationships </p>
                </div>
              <% elsif mission.category == "work_life" %>
                <div>
                  <p class="category"> <i class="fas fa-briefcase"></i> Work Life </p>
                </div>
              <% elsif mission.category == "household" %>
                <div>
                  <p class="category"> <i class="fas fa-house-damage"></i> Household </p>
                </div>
              <% end %>

              <div>
                <p class="timeframe"> <i class="far fa-clock"></i> <%= mission.timeframe.humanize.capitalize %> </p>
              </div>
            </div>

            <div>
              <h2 class="heading-24-spaced"> <%= link_to mission.title, mission_path(mission), class:"link" %> </h2>
            </div>
            <div>
              <p class="light"> <%= mission.description %> </p>
            </div>
          </div>
          <div class="user-box">
            <% if mission.user.photo.attached? %>
                <%= cl_image_tag mission.user.photo.key, class:"avatar-large" %>
            <% else %>
              <%= image_tag "user_3.png", class:"avatar-large" %>
            <% end %>
            <h4 class="user-mission-card-title center"> <%= mission.user.first_name %> (<%= mission.user.age %>)</h4>
            <p class="center user-address"> <%= mission.user.address%> </p>
          </div>
        </div>
       <% end %>
      <% end %>
    </div>
  </div>
  <div class="space-mt-80"></div>
</div>
