<div class="container">
  <div class="space-mt-40"></div>
  <%= link_to 'Back', 'javascript:history.back()', class:"back-link" %>
  <%= request.referrer %>
  <div class="space-mt-20"></div>
  <h1 class="heading-40-lightblue">Find your buddy</h1>
  <div class="buddy-intro">
    <p class="light-20">This is it. The final step.
                    All these people want to get their shit together - together!<br>
                    You can start looking for your match, and then take
                    the leap of faith and sign a contract with your new-found buddy.</p>
  </div>
  <div class="search-form">
     <%= form_with url: missions_path, method: :get do |form| %>
      <%= form.select :category, [["Miscellaneous", 0], ["Body & Mind", 1], ["Administrative Tasks", 2], ["Relationships", 3], ["Work Life", 4], ["Household", 5]], selected: params[:category], :include_blank => "Select category"%>
      <%= form.select :timeframe, [["Three to seven days", 0], ["1 to 2 weeks", 1], ["2 to 4 weeks", 2], ["4 to 6 weeks", 3], ["more than 6 weeks", 4]], selected: params[:timeframe], :include_blank => "Select timeframe" %>
      <%= form.submit "Filter", class:"btn-pink-variant" %>
    <% end %>
  </div>

  <div class="index-grid">
    <%= render "mission", missions: @missions %>
  </div>
  <div class="space-mt-80"></div>
</div>
