<div class="container">
  <div class="space-mt-40"></div>
  <h1 class="heading-40-lightblue">Find your buddy</h1>

  <div class="index-grid">
    <div>
      <% @missions.each do |mission| %>
        <div class="mission-grid">
          <div class="mission-box">
            <div>
              <p> Category: <%= mission.category.humanize.capitalize %>  </h2>
            </div>
            <div>
              <p> Timeframe: <%= mission.timeframe.humanize.capitalize %> </p>
            </div>
            <div>
              <h2> <%= mission.title %> </h2>
            </div>
            <div>
              <p> <%= mission.description %> </p>
            </div>
          </div>
          <div class="user-box">
            <% if mission.user.photo.attached? %>
                <%= cl_image_tag mission.user.photo.key, class:"avatar-large" %>
              <% else %>
                <%= image_tag "user.png", class:"avatar-large" %>
              <% end %>
              <h4> <%= mission.user.nickname %></h4>
              <p> <%= mission.user.age %> </p>
              <p> <%= mission.user.address%> </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
