<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="Everybody hates this" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="Everybody hates this" content="<%= meta_title %>" />
    <meta property="Everybody hates this - Home" content="website" />
    <meta property="Everybody hates this" content="<%= request.original_url %>" />
    <meta property="Everybody hates this - Logo" content="<%= 'skull.png' %>" />
    <meta property="Get your shit together. Together." content="<%= meta_description %>" />
    <meta property="Everybody hates this" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="Everybody hates this - Logo" content='skull.png'>
    <meta name="Everybody hates this" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="Everybody hates this" content="<%= meta_title %>">
    <meta name="Get your shit together. Together." content="<%= meta_description %>">
    <meta name="Everybody_hates_this" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="Everybody hates this - Logo" content="<%= 'skull.png' %>">
    
    <title>Everybody Hates This</title>
    <%= favicon_link_tag asset_path('skull.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="page-container">
      <%= render 'shared/navbar' %>
      <main id="main-content">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </main>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
